body {
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 15px;
}
.description {
  font-weight: 800;
  font-size: 11px;
  color: #777;
}
.logo {
  width: 20px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.box {
  padding: 10px;
  width: 33.33%;
  box-sizing: border-box;
}
.image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card {
  width: 100%;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 100%);
  background: white;
  border-radius: 5px;
}

.text-download {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.download {
  max-width: 300px;
  background: red;
  padding: 15px 25px;
  border-radius: 4px;
  margin: 30px 0 30px 10px;
}
a {
  color: white;
  text-decoration: none;
}
